.locationContainer {
    display: flex;
    padding: 4rem 2rem;
}

.addressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.addressHeader {
    font-family: "Patua One", "Press Start 2P", system-ui;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.addressNameContainer {
    border-top: 1px solid black;
}

.addressBlock {
    margin-top: 1.5rem;
}

.googleMapContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.address {
    margin-top: 1rem;
    text-align: center;
}