.aboutBannerContainer {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutBannerImg {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center;
}

.aboutBannerHeaderContainer {
    position: absolute;
    top: 35%;
    left: 20%;
    width: 60%;
    z-index: 12;
}

.aboutBannerTitleContainer {
    composes: banner-title-container from "../../styles.css";
}

.aboutDescriptionContainer {
    width: 100%;
    padding: 2rem;
    display: flex;
}

.aboutBannerDescriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.aboutBannerDescription {
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
}

.aboutBannerPhotoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.aboutBannerImage {
    width: 500px;
    height: 600px;
}