* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --nav-btn-bg-color-hover: rgb(226, 226, 226);
    --nav-default-font-btn: "Cabin", "Press Start 2P", system-ui;
    --nav-default-font-family: "Patua One", "Press Start 2P", system-ui;
    --banner-default-font-color: #6c9fec;
    --nav-default-bg-color: #367de7;
    --nav-font-color: white;
    --nav-font-color-visited: black;
}

nav {
    background-color: var(--nav-default-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-title {
    display: flex;
    font-family: var(--nav-default-font-family);
    font-size: 2rem;
    margin-left: 1rem;
    text-decoration: none;
    color: var(--nav-font-color);
}

.logo-title:visited {
    color: var(--nav-font-color);
}

/*Will act as my height and width basis for react slideshow library*/
.banner-container {
    min-height: 90vh;
    background: url("./assets/heybrovideogames_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-sub-container {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 60%;
    z-index: 12;

}

.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

.banner-title-container,
.banner-subtitle-container {
    font-size: 4rem;
    font-family: var(--nav-default-font-family);
    color: var(--banner-default-font-color);
    animation: fadeInAnimation ease 2s;
    text-shadow: 2px 2px 4px #0e2b57;
}

.banner-title-container,
.banner-subtitle-container,
.banner-btn-container {
    display: flex;
    justify-content: center;
}

.banner-subtitle-container {
    font-size: 1.7rem;
    margin-top: 10px;
}

.banner-btn-container {
    margin-top: 1.9rem;
}

.shop-btn {
    padding: 10px 4rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    font-size: 1.2rem;
    font-family: var(--nav-default-font-btn);
    font-weight: 700;
    color: black;
    transition: background-color 500ms;
}

.shop-btn:hover {
    background-color: var(--banner-default-font-color);
}

.shop-btn:visited {
    color: black;
}

.fa-shopping-cart:hover {
    cursor: pointer;
}

.nav-item-btn:visited {
    color: var(--nav-font-color);
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.banner-header {
    font-size: 3rem;
    color: white;
    font-family: var(--nav-default-font-family);
}

.nav-item-btn {
    background-color: white;
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 500ms;
    background: none;
    border: none;
    font-family: var(--nav-default-font-family);
    color: var(--nav-font-color);
}

.nav-item-btn:hover {
    background-color: var(--nav-font-color);
    color: var(--nav-font-color-visited);
    cursor: pointer;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
    }
}