* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --nav-btn-bg-color-hover: rgb(226, 226, 226);
    --nav-default-font-family: "Patua One", "Press Start 2P", system-ui;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-title {
    display: flex;
    font-family: var(--nav-default-font-family);
    font-size: 2rem;
    margin-left: 1rem;
    text-decoration: none;
}

.logo-title:visited {
    color: black;
}

.banner-container {
    min-height: 90vh;
    background: url("./assets/heybrovideogames_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-sub-container {
    width: 60%;

}

.banner-title-container,
.banner-subtitle-container {
    font-size: 3.5rem;
    font-family: var(--nav-default-font-family);
    color: white;
    animation: fadeInAnimation ease 2s;
    text-shadow: 2px 2px 4px black;
}

.banner-subtitle-container {
    font-size: 1.5rem;
    margin-top: 10px;
}

.shop-btn {}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
}

.banner-header {
    font-size: 3rem;
    color: white;
    font-family: var(--nav-default-font-family);
}

.nav-item-btn {
    background-color: white;
    padding: 7px 10px;
    margin-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.5rem;
    transition: background-color 500ms;
    background: none;
    border: none;
    font-family: var(--nav-default-font-family);
}

.nav-item-btn:visited {
    color: black;
}

.nav-item-btn:hover {
    background-color: var(--nav-btn-bg-color-hover);
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
    }
}